h1 {
text-align:center ;	
font-size: 50px;
color: red;
font-family: arial;
	border: 2px solid;
    margin: 40px;
    padding: 10px;
}


body {
background-color: beige;
line-height: 25px;
margin-left: 70px ;
margin-right:70px ;
font-size: 20px ;
}