h1 {
font-size: 50px;
color: black;
font-family: arial;
	border: 2px solid;
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.pp {
    width: 200px;
    border-radius: 270px ;
}

h3 {
    margin: 10px;
}

body {
    text-align: center;
    background-color: lightpink;
  
}

.img_escargot {
    width: 200px;
    justify-content: center;

}

.container_escargot {
    justify-content: center;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

.one {
  grid-column: 2/4;
  grid-row: 1;
  border: solid black;
  font-size:20px ;
  border-radius: 10px;
  line-height: 30px;
  
}
.two {
  grid-column: 4/6;
  grid-row: 1;
  border: solid black;
  font-size: 20px;
  border-radius: 10px;
  line-height: 30px;
}
.three {
  grid-column:3;
  grid-row:2;
  border: solid black;
  border-radius: 10px;
  font-size: 20px;

}
img {
  width: 90px;
}

.four {
  grid-column: 4;
  grid-row: 2;
  border: solid black;
  border-radius: 10px;
  font-size: 20px;
}
.five {
  grid-column: 3/5;
  grid-row: 3;
  border: solid black;
  border-radius: 10px;
  font-size: 20px;
  
}




footer {
    line-height: 1.5;
    margin: 40px;
    color: red;
    font-size: 20px;
}